<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sportinate">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sportinate">
        <activity
            android:name=".group_search_and_select.Group2LeaveActivity"
            android:exported="false" />
        <activity
            android:name=".group_search_and_select.Group2InfoActivity"
            android:exported="false" />
        <activity
            android:name=".group_creation.GroupCreationConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".group_creation.GroupCreationReviewActivity"
            android:exported="false" />
        <activity
            android:name=".group_search_and_select.Group1LeaveFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".group_search_and_select.Group1LeaveActivity"
            android:exported="false" />
        <activity
            android:name=".group_search_and_select.Group1FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".group_creation.GroupCreationActivity"
            android:exported="false" />
        <activity
            android:name=".group_search_and_select.Group1InfoActivity"
            android:exported="false" />
        <activity
            android:name=".group_search_and_select.BrowseActivity"
            android:exported="false"
            android:label="@string/title_activity_browse" />
        <activity
            android:name=".profile_creation.profile_creation_comfirm"
            android:exported="false" />
        <activity
            android:name=".profile_creation.profile_creation"
            android:exported="false" />
        <activity
            android:name=".profile_creation.EditSportActivity"
            android:exported="false" />
        <activity
            android:name=".profile_creation.UserDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".profile_creation.LandingProfileActivity"
            android:exported="false" />
        <activity
            android:name=".group_coordination.GroupCoordinateActivity"
            android:exported="false" />
        <activity
            android:name=".group_coordination.GroupCoordinateConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>